node_modules*
npm-debug.log
public/bootstrap.*
public/classic.json*
public/modern.json*
public/build/*
public/sass/example/bootstrap.js*
public/sass/example/example.css
.idea/*
public/desktop.json*
public/phone.json*
public/tablet.json*
messages.json
