.pLayout {
  .username-container {
    background: #eaeaea;
  }

  .messages .x-dataview-item .message .username {
    margin-bottom: 2px;
  }

  .x-textareafield {
    border-top: 1px solid #cecece;
  }
}